.lista  {

    list-style: none;
    border: 0.3px solid lightgray;
    border-collapse: collapse;
    border-radius: 3px;
    padding: 0.5em;

}
span{
    margin: 1em;
}

ul{

    display: flex;
    flex-direction: column;
    
}

.h1community{

    text-decoration: none;
    color: black;
}
.links{

    text-decoration: none;
    color: black;
}